<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.utc.drcheems">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrCheems">
        <activity android:name=".web_api"></activity>
        <activity android:name=".web_menu" />
        <activity android:name=".usu_cambiar_contrasena" />
        <activity android:name=".usu_registro" />
        <activity android:name=".mas_ver_historial_mascota" />
        <activity android:name=".mas_editar_mascota" />
        <activity android:name=".mas_ver_mascota" />
        <activity android:name=".mas_agregar_mascota" />
        <activity android:name=".cli_ver_mascota" />
        <activity android:name=".usu_editar_perfil" />
        <activity android:name=".usu_menu_perfil" />
        <activity android:name=".soc_responder_comentario" />
        <activity android:name=".soc_red_social" />
        <activity android:name=".cit_ver_citas" />
        <activity android:name=".cit_agregar_citas" />
        <activity android:name=".cit_menu" />
        <activity android:name=".cli_editar_cliente" />
        <activity android:name=".cli_ver_cliente" />
        <activity android:name=".cli_agregar_cliente" />
        <activity android:name=".cli_menu" />
        <activity android:name=".Login" />
        <activity android:name=".Dashboard" />
        <activity android:name=".Bienvenida">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>